<mat-expansion-panel hideToggle class="background-gray">
  <mat-expansion-panel-header #panelH (click)="panelH._toggle()">
    <mat-panel-title>{{ headers.inspectionNumber }}</mat-panel-title>
    <mat-panel-title>{{ headers.proponentCpfCnpj }}</mat-panel-title>
    <mat-panel-title>{{ headers.proponentName }}</mat-panel-title>
    <mat-panel-title> {{ headers.postalCode }}</mat-panel-title>
    <mat-panel-title> {{ headers.reportValidationDate }}</mat-panel-title>
    <mat-panel-title>{{ headers.download }}</mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
