<div class="row">
  <div>
    <table class="table" style="width: 100%">
      <thead>
        <tr>
          <th class="th-class">
            {{ headers.inspectionNumber }}
          </th>
          <th class="th-class">
            {{ headers.proponentCpfCnpj }}
          </th>

          <th class="th-class">
            {{ headers.proponentName }}
          </th>

          <th class="th-class">
            {{ headers.postalCode }}
          </th>
          <th class="th-class">
            {{ headers.reportValidationDate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of items | async; let i = index"
          (click)="expansionUnit(i)"
        >
          <td colspan="5">
            <mat-accordion>
              <mat-expansion-panel class="custom-expansion-panel">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ item.inspectionNumber }}
                  </mat-panel-title>
                  <mat-panel-title>
                    {{ item.proponentCpfCnpj }}
                  </mat-panel-title>
                  <mat-panel-title> {{ item.proponentName }} </mat-panel-title
                  ><mat-panel-title>
                    {{ item.postalCode }}
                  </mat-panel-title>

                  <mat-panel-title>
                    {{ item.reportValidationDate | dateFormat }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <table class="inner-table">
                    <thead>
                      <tr>
                        <th>{{ headers.postalCode }}</th>
                        <th>{{ headers.opinion }}</th>
                        <th>{{ headers.addressComplement }}</th>
                        <th>{{ headers.analystObservation }}</th>
                        <th>{{ headers.reportReturnDate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <td>{{ item.postalCode }}</td>
                      <td>{{ item.opinion }}</td>
                      <td>{{ item.addressComplement }}</td>
                      <td>{{ item.analystObservation }}</td>
                      <td>{{ item.reportReturnDate | dateFormat }}</td>
                    </tbody>
                  </table>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="paginator-container">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
