.input-small {
  width: 150px; /* Defina a largura desejada conforme necessário */
}

.input-medium {
  width: 200px; /* Defina a largura desejada conforme necessário */
}
/* styles.css */
.button-container {
  margin-left: 10px;
}
.error-message {
  background-color: #ffcccc; /* Fundo vermelho claro */
  border: 1px solid #ff0000; /* Borda vermelha */
  color: #ff0000; /* Cor do texto vermelho */
}
